body{
    background-color: var(--red-700);
    font-family: 'Fredoka', sans-serif;
}

:root{
    --red-700: #b91547;
}

/* hover */
button.dc-col:hover{
    border: 2px solid orange;
}
/* hover */

#sectionOne{            /*sezione 1 larghezza*/
    width: 52.3125rem;
}

.dc-border-col{     /*border color bottoni*/
    border: 1px solid var(--red-700);
}
.dc-col{
    color: var(--red-700);
    background-color: #c5c5c5;
    border: 2px solid transparent;
}